header {
  text-align:center;
  font-size: 50px;
  padding: 20px;
}
body {
  text-align:center;
  font-size: 35px;
}
.main {
  display:flex;
  justify-content: center;
}
table, td, th {
  border: 1px solid gray;
  padding:15px;
}




















