
.table-of-something {
  border-collapse: collapse;
  border: 2px solid rgb(4, 9, 3);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}
caption {
  caption-side: top;
  padding: 10px;
  font-weight: bold;
}

thead,
tfoot {
  background-color: rgb(43, 116, 43);
}

th,
td {
  border: 1px solid rgb(4, 9, 3);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(138, 214, 142);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}

.fruit-list {
  display: flex;
  justify-content: space-around;
}
  
.img{
  width: 80px;

  
}

.H1 {
  text-align: center;
  background-color: black;
  color: rgb(251, 251, 251);
  font-family: initial;
}

.but {
  font-size: 20px;
  color: rgb(54, 88, 54);
  float: left;

}

